{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" id="theme" href="{% static 'css/theme-default.css' %}"/>
</head>
<body>
<div class="page-container">
    <!-- START PAGE SIDEBAR -->
            <div class="page-sidebar" style="height: 100%">
                <!-- START X-NAVIGATION -->
                <ul class="x-navigation">
                    <li class="xn-logo">
                        <a href="index.html">Hoppa</a>
                        <a href="#" class="x-navigation-control"></a>
                    </li>
                    {% if profile %}
                    <li class="xn-profile">
                        <a href="#" class="profile-mini">
                            {% if profile.is_authenticated %}
                                <img src="/media/{{ profile.user_account.profile_picture }}" alt="{{ profile.username }}"/>
                            {% else %}
                                <img src="{% static 'img/default.png' %}" alt="{{ profile.username }}"/>
                            {% endif %}
                        </a>
                        <div class="profile">
                            <div class="profile-image">
                                {% if profile.is_authenticated %}
                                <img src="/media/{{ profile.user_account.profile_picture }}" alt="{{ profile.username }}"/>
                            {% else %}
                                <img src="{% static 'img/default.png' %}" alt="{{ profile.username }}"/>
                            {% endif %}
                            </div>
                            <div class="profile-data">
                                <div class="profile-data-name">{{ profile.username }}</div>
                                <div class="profile-data-title">{{ profile.user_account.role }}</div>
                            </div>
                            <!--<div class="profile-controls">
                                <a href="pages-profile.html" class="profile-control-left"><span class="fa fa-info"></span></a>
                                <a href="pages-messages.html" class="profile-control-right"><span class="fa fa-envelope"></span></a>
                            </div> -->
                        </div>
                    </li>
                    {% endif %}
                    <li class="xn-title">Navigation</li>
                    <li class="active">
                        <a href="{% url 'home' %}"><span class="fa fa-home"></span> <span class="xn-text">Home</span></a>
                    </li>
                    <li class="xn-openable">
                        <a href="{% url 'dashboard-selector' %}"><span class="fa fa-desktop"></span> <span class="xn-text">Dashboard</span></a>
                    </li>
                    {% if profile.user_account.role == 'General Admin' %}
                    <li class="xn-openable">
                        <a href="{% url 'list-farmers' %}"><span class="fa fa-users"></span> <span class="xn-text">Farmers</span></a>
                    </li>
                    {% endif %}
                    {% if profile.user_account.role == 'General Admin' %}
                    <li class="xn-openable">
                        <a href="{% url 'list-county-reps' %}"><span class="fa fa-users"></span> <span class="xn-text">County Reps</span></a>
                    </li>
                    {% endif %}
                    {% if profile.user_account.role == 'General Admin' %}
                    <li class="xn-openable">
                        <a href="#"><span class="fa fa-tint"></span> <span class="xn-text">Ponds</span></a>
                    </li>
                    {% endif %}
                    {% if profile.user_account.role == 'General Admin' %}
                    <li class="xn-openable">
                        <a href="{% url 'list-users' %}"><span class="fa fa-users"></span> <span class="xn-text">All Users</span></a>
                    </li>
                    {% endif %}
                    {% if profile.user_account.role == 'General Admin' %}
                    <li class="xn-openable">
                        <a href="{% url 'list-questionnaires' %}"><span class="fa fa-question-circle"></span> <span class="xn-text">Questionnaires</span></a>
                    </li>
                    {% endif %}
                    {% if profile.user_account.role == 'Farmer' %}
                    <li class="xn-openable">
                        <a href="{% url 'farmer-details' user.id %}"><span class="fa fa-user"></span> <span class="xn-text">My Profile</span></a>
                    </li>
                    <li class="xn-openable">
                        <a href="#"><span class="fa fa-tint"></span> <span class="xn-text">My Ponds</span></a>
                    </li>
                    {% endif %}
                    {% if profile.user_account.role == 'County Admin' %}
                    <li class="xn-openable">
                        <a href="{% url 'list-questionnaires' %}"><span class="fa fa-tint"></span> <span class="xn-text">Ponds</span></a>
                    </li>
                    <li class="xn-openable">
                        <a href="{% url 'list-county-farmers' %}"><span class="fa fa-user"></span> <span class="xn-text">Farmers</span></a>
                    </li>
                     <li class="xn-openable">
                        <a href="{% url 'list-county-questionnaires' %}"><span class="fa fa-question-circle"></span> <span class="xn-text">Questionnaires</span></a>
                    </li>
                    {% endif %}

                </ul>
                <!-- END X-NAVIGATION -->
            </div>
            <!-- END PAGE SIDEBAR -->
<div class="page-content">
    <!-- START X-NAVIGATION VERTICAL -->
                <ul class="x-navigation x-navigation-horizontal x-navigation-panel">
                    <!-- TOGGLE NAVIGATION -->
                    <li class="xn-icon-button">
                        <a href="#" class="x-navigation-minimize"><span class="fa fa-dedent"></span></a>
                    </li>
                    <!-- END TOGGLE NAVIGATION -->
                    <!-- SEARCH -->
                    <li class="xn-search">
                        <form role="form">
                            <input type="text" name="search" placeholder="Search..."/>
                        </form>
                    </li>
                    <!-- END SEARCH -->
                    <!-- SIGN OUT -->
                    <li class="xn-icon-button pull-right">
                        <a href="{% url 'logout' %}"  data-box="#mb-signout"><span class="fa fa-sign-out"></span></a>
                    </li>
                    <!-- END SIGN OUT -->
                    <!-- MESSAGES -->
                    <li class="xn-icon-button pull-right">
                        <a href="#"><span class="fa fa-comments"></span></a>
                        <div class="panel panel-primary animated zoomIn xn-drop-left xn-panel-dragging">
                            <div class="panel-heading">
                                <h3 class="panel-title"><span class="fa fa-comments"></span> Messages</h3>
                                <div class="pull-right">
                                    <span class="label label-danger">4 new</span>
                                </div>
                            </div>
                        </div>
                    </li>
                    <!-- END MESSAGES -->
                    <!-- TASKS -->
                    <li class="xn-icon-button pull-right">
                        <a href="#"><span class="fa fa-tasks"></span></a>

                        <div class="panel panel-primary animated zoomIn xn-drop-left xn-panel-dragging">
                            <div class="panel-heading">
                                <h3 class="panel-title"><span class="fa fa-tasks"></span> Tasks</h3>
                                <div class="pull-right">
                                    <span class="label label-warning">3 active</span>
                                </div>
                            </div>

                            <div class="panel-footer text-center">
                                <a href="pages-tasks.html">Show all tasks</a>
                            </div>
                        </div>
                    </li>
                    <!-- END TASKS -->
                </ul>
                <!-- END X-NAVIGATION VERTICAL -->
{% block content %}

{% endblock %}
</div>
</div>
<!-- START SCRIPTS -->
        <!-- START PLUGINS -->
        <script type="text/javascript" src="{% static 'js/plugins/jquery/jquery.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/plugins/jquery/jquery-ui.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/plugins/bootstrap/bootstrap.min.js' %}"></script>
        <!-- END PLUGINS -->

        <!-- START THIS PAGE PLUGINS-->
        <script type='text/javascript' src="{% static 'js/plugins/icheck/icheck.min.js' %}></script>
        <script type="text/javascript" src="{% static 'js/plugins/mcustomscrollbar/jquery.mCustomScrollbar.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/plugins/scrolltotop/scrolltopcontrol.js"></script>

        <script type="text/javascript" src="{% static 'js/plugins/morris/raphael-min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/plugins/morris/morris.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/plugins/rickshaw/d3.v3.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/plugins/rickshaw/rickshaw.min.js' %}"></script>
        <script type='text/javascript' src="{% static 'js/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js' %}"></script>
        <script type='text/javascript' src="{% static 'js/plugins/jvectormap/jquery-jvectormap-world-mill-en.js' %}"></script>
        <script type='text/javascript' src="{% static 'js/plugins/bootstrap/bootstrap-datepicker.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/plugins/owl/owl.carousel.min.js' %}"></script>

        <script type="text/javascript" src="{% static 'js/plugins/moment.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/plugins/daterangepicker/daterangepicker.js' %}"></script>
        <!-- END THIS PAGE PLUGINS-->

        <!-- START TEMPLATE -->

        <script type="text/javascript" src="{% static 'js/plugins.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/actions.js' %}"></script>

        <script type="text/javascript" src="{% static 'js/demo_dashboard.js' %}"></script>
        <!-- END TEMPLATE -->

        {% block extra_js %}{% endblock %}
    <!-- END SCRIPTS -->
</body>
</html>