<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Delete Farmer</title>
</head>
<body>
<form method="post" enctype="multipart/form-data" action="{% url 'update-farmer' object.id %}">
{% csrf_token %}
{{ form }}
    <input type="submit" value="Delete">
</form>
</body>
</html>