{% extends 'base.html' %}

{% block title %} Farmers {% endblock %}

{% block content %}
<!-- START BREADCRUMB -->
                <ul class="breadcrumb">
                    <li><a href="#">Pages</a></li>
                    <li class="active">Farmers</li>
                </ul>
                <!-- END BREADCRUMB -->

                <!-- PAGE TITLE -->
                <div class="page-title">
                    <h2><span class="fa fa-users"></span> Farmers <small>{{ object_list.count }} contacts</small></h2>
                </div>
                <!-- END PAGE TITLE -->

                <!-- PAGE CONTENT WRAPPER -->
                <div class="page-content-wrap">

                    <div class="row">
                        <div class="col-md-12">

                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <p>Use search to find contacts. You can search by: name, email, phone. Or use the advanced search.</p>
                                    <form class="form-horizontal">
                                        <div class="form-group">
                                            <div class="col-md-8">
                                                <div class="input-group">
                                                    <div class="input-group-addon">
                                                        <span class="fa fa-search"></span>
                                                    </div>
                                                    <input type="text" class="form-control" placeholder="Who are you looking for?"/>
                                                    <div class="input-group-btn">
                                                        <button class="btn btn-primary">Search</button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <a class="btn btn-success btn-block" href="{% url 'create-farmer' %}"><span class="fa fa-plus"></span> Add new farmer</a>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        {% for object in object_list %}
                        <div class="col-md-3">
                            <!-- CONTACT ITEM -->
                            <div class="panel panel-default">
                                <div class="panel-body profile">
                                    <a href="{% url 'farmer-details' object.pk %}">
                                        <div class="profile-image">
                                            <img src="/media/{{ object.user_account.profile_picture }}" alt="{{ object.username }}"/>
                                        </div>
                                    </a>
                                    <div class="profile-data">
                                        <div class="profile-data-name">{{ object.username }}</div>
                                        <div class="profile-data-title">{{ object.user_account.role }}</div>
                                    </div>
                                    <div class="profile-controls">
                                        <a href="#" class="profile-control-left"><span class="fa fa-info"></span></a>
                                        <a href="#" class="profile-control-right"><span class="fa fa-phone"></span></a>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <div class="contact-info">
                                        <p><small>First Name</small><br/>{{ object.first_name }}</p>
                                        <p><small>Last Name</small><br/>{{ object.last_name }}</p>
                                        <p><small>Mobile</small><br/>{{ object.mobile_number }}</p>
                                        <p><small>Email</small><br/>{{ object.email }}</p>
                                        <p><small>Address</small><br/>{{ object.user_account.location }}</p>
                                    </div>
                                </div>
                            </div>
                            <!-- END CONTACT ITEM -->
                        </div>
                        {% endfor %}
                        </div>
                    </div>
                     {% if is_paginated %}
                    <div class="row">
                        <div class="col-md-12">
                            <ul class="pagination pagination-sm pull-right push-down-10 push-up-10">
                                {% if page_obj.has_previous %}
                                    <span><a href="/profile/farmers?page={{ page_obj.previous_page_number }}">PREVIOUS</a></span>
                                {% endif %}
                                <li>
                                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                                </li>
                                {% if page_obj.has_next %}
                                    <span><a href="/profile/farmers?page={{ page_obj.next_page_number }}">NEXT</a></span>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                    {% endif %}

                </div>
                <!-- END PAGE CONTENT WRAPPER -->
            </div>
            <!-- END PAGE CONTENT -->
        </div>
        <!-- END PAGE CONTAINER -->
{% endblock %}