{% extends 'base.html' %}

{% load staticfiles %}

{% block title %} Questionnaires {% endblock %}

{% block content %}

<!-- START BREADCRUMB -->
                <ul class="breadcrumb">
                    <li><a href="#">Pages</a></li>
                    <li class="active">Questionnaires</li>
                </ul>
                <!-- END BREADCRUMB -->

                <!-- PAGE TITLE -->
                <div class="page-title">
                    <h2><span class="fa fa-arrow-circle-o-left"></span> Questionnaires</h2>
                </div>
                <!-- END PAGE TITLE -->

                <!-- PAGE CONTENT WRAPPER -->
                <div class="page-content-wrap">

                    <div class="row">
                        <div class="col-md-12">

                            <!-- START DEFAULT DATATABLE -->
                            <div class="panel panel-default">
                                <div class="panel-heading">

                                    <ul class="panel-controls">
                                        <li><a href="#" class="panel-collapse"><span class="fa fa-angle-down"></span></a></li>
                                        <li><a href="#" class="panel-refresh"><span class="fa fa-refresh"></span></a></li>
                                        <li><a href="#" class="panel-remove"><span class="fa fa-times"></span></a></li>
                                    </ul>
                                </div>
                                <div class="panel-body">
                                    <table class="table datatable">
                                        <thead>
                                            <tr>
                                                <th>Username</th>
                                                <th>First Name</th>
                                                <th>Last Name</th>
                                                <th>Email</th>
                                                <th>Submitted</th>
                                                <th>Delete</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for object in object_list %}
                                            <tr>
                                                <td><a href="{% url 'update-questionnaire' object.id %}">{{ object.farmer.username|upper }}</a></td>
                                                <td>{{ object.farmer.first_name|upper }}</td>
                                                <td>{{ object.farmer.last_name|upper }}</td>
                                                <td>{{ object.farmer.userprofile.email|upper }}</td>
                                                <td>{{ object.submitted|upper }}</td>
                                                <td><a href="#">Delete</a> </td>
                                            </tr>
                                            {% endfor %}

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- END DEFAULT DATATABLE -->

                        </div>
                    </div>

                </div>
                <!-- PAGE CONTENT WRAPPER -->

{% endblock %}
{% block extra_js %}
<!-- THIS PAGE PLUGINS -->
        <script type='text/javascript' src="{% static 'js/plugins/icheck/icheck.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/plugins/mcustomscrollbar/jquery.mCustomScrollbar.min.js' %}"></script>

        <script type="text/javascript" src="{% static 'js/plugins/datatables/jquery.dataTables.min.js' %}"></script>
        <!-- END PAGE PLUGINS -->
{% endblock %}