{% extends 'base.html' %}

{% load staticfiles %}

{% block title %} Edit Questionnaire {% endblock %}

{% block content %}
<!-- START BREADCRUMB -->
                <ul class="breadcrumb">
                    <li><a href="#">Pages</a></li>
                    <li class="active">Questionnaire</li>
                </ul>
                <!-- END BREADCRUMB -->

                <!-- PAGE TITLE -->
                <div class="page-title">
                    <h2><span class="fa fa-arrow-circle-o-left"></span> Edit Questionnaire </h2>
                </div>
                <!-- END PAGE TITLE -->

                <!-- PAGE CONTENT WRAPPER -->
                <div class="page-content-wrap">

                    <div class="row">
                        <div class="col-md-12">

                            <!-- START WIZARD WITH SUBMIT BUTTON -->
                            <div class="block">
                                <h4>Questionnaire</h4>
                                <form action="{% url 'update-questionnaire' object.pk %}" method="post" role="form" class="form-horizontal">{% csrf_token %}
                                <div class="wizard show-submit">
                                    <ul>
                                        <li>
                                            <a href="#step-5">
                                                <span class="stepNumber">1</span>
                                                <span class="stepDesc">Part 1<br /><small>Part 1 Questions</small></span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#step-6">
                                                <span class="stepNumber">2</span>
                                                <span class="stepDesc">Part2<br /><small>Part 2 Questions</small></span>
                                            </a>
                                        </li>
                                    </ul>
                                    <div id="step-5">
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">1. This is the fist question in the questionnaire. Please fill in a string to mimic an answer.</label>
                                            <div class="col-md-7">
                                                {{ form.question1 }}
                                            </div>
                                        </div>

                                    </div>
                                    <div id="step-6">

                                        <div class="form-group">
                                            <label class="col-md-4 control-label">2. This is the second question. Select one choice from the dropdown provided.</label>
                                            <div class="col-md-7">
                                                {{ form.question2 }}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">3. This is the third and final queston. Answer wisely.</label>
                                            <div class="col-md-7">
                                                {{ form.question3 }}
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                </form>
                            </div>
                            <!-- END WIZARD WITH SUBMIT BUTTON -->

                        </div>

                    </div>

                </div>
                <!-- PAGE CONTENT WRAPPER -->
            </div>
            <!-- END PAGE CONTENT -->

{% endblock %}

{% block extra_js %}
 <!-- THIS PAGE PLUGINS -->
        <script type='text/javascript' src="{% static 'js/plugins/icheck/icheck.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/plugins/mcustomscrollbar/jquery.mCustomScrollbar.min.js' %}"></script>

        <script type="text/javascript" src="{% static 'js/plugins/smartwizard/jquery.smartWizard-2.0.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/plugins/jquery-validation/jquery.validate.js' %}"></script>

{% endblock %}